* {
  text-align: center;
  margin:10px;
}
 
table,tr,th,td{
  margin-left: 20%;
border:1px solid rgb(8, 8, 8);
border-collapse: collapse;
padding: 10px;
text-align: center;

}
th,td{
    font-size: larger;

}
td{
    text-align:left;
}